
.bg-light shadow-sm mx-auto{
    width: 80%;
     height: 300px;
      border-radius: 21px 21px 0 0;
}

#portfolio{
justify-content: center;
}

#overflow-hidden{
    max-height: 30vh;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#navbar{
    background-color: rgb(23,220,244);
}

.body{
    background-color: black;

}