
.bg-light shadow-sm mx-auto{
    width: 80%;
     height: 300px;
      border-radius: 21px 21px 0 0;
}

#portfolio{
justify-content: center;
}

ul{
    display: flex;
    list-style: none;
    background-color: rgb(23,162,184);
    width: 100%;
    justify-content: space-around;
}

ul li{
    color: white;

}

#navbar h3{
    color: white;
}

#overflow-hidden{
    max-height: 30vh;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.body{
    background-color: black;

}

#resumediv{
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}
#projectsdivh1{
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}
#aboutdivh1{
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#rzn8img{
    border-radius: 30%;
}

#contacth1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
}

@media only screen and (max-width:600px){
    #navbar{
        width: 100%;
    }

    li h3{
        font-size: 20px;

    }
}